<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- ++++++++++++++  Déclaration du bean de la couche DAO   +++++++++++++++++++++++++++++++++++++ -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<bean id="boutiqueDaoBean" class="com.intiformation.siteecommerce.dao.BoutiqueDAOImpl">
	
		<!-- injection du bean de la sessionFactory dans la prop 'sessionFactory' du bean dao -->
		<property name="sessionFactory" ref="sessionFactoryBean"/>
	</bean>
	
</beans>
